parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - src/SharedKernel
        - tests/
        - vendor/
        - assets/
        - public/
        - bin/
        - config/
        - infrastructure/
        - migrations/
